@model List<Transaction>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLIn.cshtml";
}

@section one{}

<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/user.css" />
  <title>Sign Up</title>
</head>
<body>
  <div class="mainBox">
      <div class="darkFilter" style="grid-column: 1/-1;"></div>
      <div class="mainBord" style="grid-column: 2/40;">
          <h1 style="color: white; text-align: center;">Transaction Detail</h1>
            <div class="text-white">
                <a href="/Transaction/CreateSell" class="btn btn-outline-success" style="margin-bottom:20px;">Add New Sell</a>
                <a href="/Transaction/CreatePurchase" class="btn btn-outline-success" style="margin-bottom:20px;">Add New Purchase</a>
            </div>
            
            <form method="get" asp-action="Index">
                <p>
                    <input type="search" placeholder="Enter product name" value="@ViewData["GetTheData"]" name="ProductSearch" style="width:500px; display:inline;" class="form-control"/>
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-action="Index">Get All Transaction</a>
                </p>
            </form>
               <form method="Post" asp-action="Export" style="margin: 0; padding: 0;">
                   
                                <input type="submit" value="Export"   style="display: inline;" class="btn btn-primary" />    
                            
                      </form>
                    
                    
            <table class="table" style="color: white;">
                <tr>
                    <th>Transaction ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Purchased Quantity</th>
                    <th>Sold Quantity</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TransactionId</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.PurchasedQuantity</td>
                        <td>@item.SoldQuantity</td>
                        <td style="inline-size: 150px; overflow: hidden;">@item.DateOfPurchase</td>
                        <td>@item.Supplier.CompanyName</td>
                        <td>
                            <a href="/Transaction/Details/@item.TransactionId" class=" btn btn-outline-info">Details</a>
                        </td>
                        <td>
                            <a href="/Transaction/edit/@item.TransactionId" class=" btn btn-outline-primary">Edit</a>
                        </td>
                        <td>
                            <a href="/Transaction/delete/@item.TransactionId" class=" btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </table>
      </div>
  </div>
</body>
</html>

